#   TF-IDF Abstrak Indonesia

In [7]:
import pandas as pd

# Load data from pta_manajemen.csv
df = pd.read_csv('hasil_preprocessing_abstrak.csv')

In [8]:
# Display basic information about the dataset
print("Dataset shape:", df.shape)
df

Dataset shape: (1026, 2)

,abstrak_id,hasil_preprocessing
0,"ABSTRAK\r\nSatiyah, Pengaruh Faktor-faktor Pel...","['abstrak', 'satiyah', 'pengaruh', 'faktorfakt..."
1,Aplikasi nyata pemanfaatan teknologi informasi...,"['aplikasi', 'nyata', 'manfaat', 'teknologi', ..."
2,Tujuan penelitian ini adalah untuk mengetahui ...,"['tuju', 'teliti', 'persepsi', 'brand', 'assoc..."
3,Abstrak\r\nPenelitian ini menggunakan metode k...,"['abstrak', 'teliti', 'metode', 'kuantitatif',..."
4,ABSTRAK\r\n\r\nTujuan penelitian ini adalah un...,"['abstrak', 'tuju', 'teliti', 'identifikasi', ..."
...,...,...
1021,ABSTRAK\nPenelitian ini bertujuan untuk menget...,"['abstrak', 'teliti', 'tuju', 'hitung', 'tingk..."
1022,"ABSTRAK\nUswatun Hasanah, 160211100291, Pengar...","['abstrak', 'uswatun', 'hasanah', 'pengaruh', ..."
1023,ABSTRAK\nTujuan dari penelitian ini adalah unt...,"['abstrak', 'tuju', 'teliti', 'peran', 'servic..."
1024,ABSTRAK\nPenelitian ini bertujuan: (1) Untuk m...,"['abstrak', 'teliti', 'tuju', 'baur', 'promosi..."
1025,Penelitian ini bertujuan untuk dapat mengetahu...,"['teliti', 'tuju', 'pengaruh', 'motivasi', 'ke..."

## Penjelasan Berita CNN
Notebook ini berfokus pada pemrosesan kumpulan berita dari CNN Indonesia. Tujuan utamanya adalah menyiapkan representasi numerik teks berita untuk analisis lanjutan seperti klasifikasi topik. Secara ringkas, data berita dibersihkan, diubah menjadi fitur, lalu diekspor agar dapat dipakai pada model pembelajaran mesin.

In [9]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [10]:
# Kolom teks hasil preprocessing
texts = df["hasil_preprocessing"].astype(str)

## Penjelasan Berita CNN
Notebook ini berfokus pada pemrosesan kumpulan berita dari CNN Indonesia. Tujuan utamanya adalah menyiapkan representasi numerik teks berita untuk analisis lanjutan seperti klasifikasi topik. Secara ringkas, data berita dibersihkan, diubah menjadi fitur, lalu diekspor agar dapat dipakai pada model pembelajaran mesin.

In [11]:
vectorizer = TfidfVectorizer()

# Fit & transform ke matriks TF-IDF
tfidf_matrix = vectorizer.fit_transform(texts)

# Konversi ke DataFrame agar lebih mudah dibaca
tfidf_df = pd.DataFrame(
    tfidf_matrix.toarray(),
    columns=vectorizer.get_feature_names_out()
)

In [12]:
print("Ukuran matriks TF-IDF:", tfidf_df.shape)
tfidf_df

Ukuran matriks TF-IDF: (1026, 6476)

,aaa,aaaamanahsyariah,aar,abadi,abai,abalisis,abc,abcs,abd,abdul,...,zuhri,zuhruf,zulfi,zulia,zuliana,zulkifli,zulkiflimsi,zulpah,zy,zyn
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1021,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1025,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
output_file = "hasil_tfidf_abstrak.csv"

# index=False biar tidak ikut nyimpan index dataframe
tfidf_df.to_csv(output_file, index=False, encoding='utf-8')

print(f"Hasil TF-IDF berhasil disimpan ke file: {output_file}")

Hasil TF-IDF berhasil disimpan ke file: hasil_tfidf_abstrak.csv